# Что будет
- сводные таблицы
- фильтры и вычисления с помощью метода loc
- фильтрация пустых значений через isnull
- время в pandas
- строковые методы
- немного про учет форм слов

# Сводные таблицы
Прям как в экселе

In [1]:
import pandas as pd

In [38]:
import os, fnmatch

def find(pattern, path): # match a pattern
    result = []
    for root, dirs, files in os.walk(path):
        for name in files:
            if fnmatch.fnmatch(name, pattern):
                print(f'{name}\t{root}')                
                result.append(os.path.join(root, name))
    return result 

path = r'\\che-ds\CS_IgSor\GIT_syno'   
res = find('*.csv', path )

adult.csv	\\che-ds\CS_IgSor\GIT_syno\data
keywords.csv	\\che-ds\CS_IgSor\GIT_syno\data
power.csv	\\che-ds\CS_IgSor\GIT_syno\data
sales_db.csv	\\che-ds\CS_IgSor\GIT_syno\data
tags.csv	\\che-ds\CS_IgSor\GIT_syno\data
transactions.csv	\\che-ds\CS_IgSor\GIT_syno\data
visit_log.csv	\\che-ds\CS_IgSor\GIT_syno\data
sample_submission.csv	\\che-ds\CS_IgSor\GIT_syno\data\journey-springfield
links.csv	\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small
movies.csv	\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small
ratings.csv	\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small
tags.csv	\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small
funnel.csv	\\che-ds\CS_IgSor\GIT_syno\ipynb
data_for_test.csv	\\che-ds\CS_IgSor\GIT_syno\Welltory

In [24]:
ratings = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

### Вопрос аналитику
Какие оценки поставил пользователь №1 и в каком количестве?

Что сделаем:
1. Фильтруем датафрейм ratings для userId = 1
2. Считаем для этого пользователя сколько он выставил единиц, двоек итд

In [18]:
ratings.loc[ratings.userId == 1 ].groupby('rating').count()

        userId  movieId  timestamp
rating
1.0          2        2          2
2.0          7        7          7
2.5          3        3          3
3.0          4        4          4
3.5          1        1          1
4.0          3        3          3

In [12]:
ratings[ratings.userId == 1 ].groupby('rating').count()

        userId  movieId  timestamp
rating
1.0          2        2          2
2.0          7        7          7
2.5          3        3          3
3.0          4        4          4
3.5          1        1          1
4.0          3        3          3

Как это сделать для всех пользователей сразу:

In [20]:
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = "").head()

rating 0.5  1.0  1.5  2.0  2.5   3.0   3.5   4.0   4.5    5.0
userId
1           2.0       7.0  3.0   4.0   1.0   3.0
2           2.0       4.0       36.0        23.0         11.0
3                     1.0  3.0  18.0   9.0  11.0   4.0    5.0
4           5.0       5.0       23.0        52.0        119.0
5                1.0       3.0   3.0  27.0  42.0  19.0    5.0

In [22]:
# можно итоги добавить
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0, 
                    margins = True).tail()

rating   0.5   1.0   1.5   2.0   2.5    3.0    3.5    4.0   4.5    5.0     All
userId
668        0     2     0     0     0      7      0      3     0      8      20
669        0     0     0     7     0     14      0     12     0      4      37
670        0     2     0     3     0      5      0     10     0     11      31
671        0     1     0     4     4      9     13     57     8     19     115
All     1101  3326  1687  7271  4449  20064  10538  28750  7723  15095  100004

### Фильтры и вычисления с помощью loc и iloc

In [28]:
log = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [29]:
# метод loc позволяет выбрать строки и столбцы в соответствии с условиями
# двоеточие означает выбор всех значений

log.loc[:, ['user_id', 'region']].head()

      user_id  region
0  b1613cc09f  Russia
1  4c3ec14bee  Russia
2  a8c40697fb  Russia
3  521ac1d6a0  Russia
4  d7323c571c  Russia

In [32]:
# iloc работает аналогично, но с указанием номера строки / столбца

log.iloc[:, [1, 3]].head()

     visit_id  region
0  e3b0c44298  Russia
1  6e340b9cff  Russia
2  96a296d224  Russia
3  709e80c884  Russia
4  df3f619804  Russia

In [33]:
# пример фильтра на страну
# если столбцы не надо фильтровать, то второй параметр можно не указывать

log.loc[log.region == 'Russia'].head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [34]:
# пример вычисления нового столбца с НДС для страны

# VAT appended 
log.loc[log.region == 'Russia', 'VAT'] = 1.2
log.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source,VAT
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,1.2
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,1.2
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,1.2
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,1.2
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,1.2
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,1.2
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,1.2
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,1.2
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,NaN
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,1.2

In [35]:
# вариант с вычисляемым фильтром

log.loc[lambda row: row.region == 'Russia'].head(10)

,timestamp,visit_id,url,region,user_id,traffic_source,VAT
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,1.2
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,1.2
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,1.2
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,1.2
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,1.2
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,1.2
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,1.2
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,1.2
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,1.2
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,1.2

### Скорость метода loc
Посчитаем средний рейтинг разных жанров. Метод merge взят из материалов следующего занятия ¯ \ _ (ツ) _ / ¯

In [37]:
ratings = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\ratings.csv')
movies = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\movies.csv')
joined = ratings.merge(movies, how='left', on='movieId')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [ ]:
joined['Adventure'] = joined.apply(lambda row: row.rating if 'Adventure' in row.genres else None, axis=1)
joined.head()

Можно и через loc

In [ ]:
joined['Adventure'] = joined.loc[joined.genres.str.contains('Adventure'), 'rating']
joined.head()

Для замера времени сделаем эти операции для набор жанров

In [ ]:
genres = ['Adventure', 'Animation', 'Children', 'Drama', 'Musical', 'Thriller']

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.apply(lambda row: row.rating if genre in row.genres else None, axis=1)

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.loc[joined.genres.str.contains(genre), 'rating']

### Упражнение
Какие варианты источников трафика есть в столбце traffic_source?

Создайте столбец traffic_type, в котором для источников 'yandex' и 'google' будет стоять значение 'organic'. А для остальных вариантов - NaN.

### Методы isnull, isna
Определение пустых или None значений. По сути одинаковые методы

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'value': [123, None, np.nan, np.NaN, np.NAN, 456]})
df

In [ ]:
# фильтр на пустые значения в столбце value

df.loc[pd.isnull(df.value), :]

### Упражнение
Для пустых значений в столбце traffic_type выставьте значение 'other'

### Дата и время в pandas

In [ ]:
log['date'] = pd.to_datetime(log['timestamp'], unit='s')
log.head()

In [ ]:
# столбец datetime64[ns] теперь имеет тип даты
log.info()

In [ ]:
# получим час визита

log['hour'] = log.date.dt.hour
log.head()

### Методы работы со строками

In [ ]:
stats = pd.read_csv('keywords.csv')
stats.head()

Проверка наличия подстроки в строке в питоне:

In [ ]:
'охотник' in 'каждый охотник желает знать...'

Аналог в pandas:

In [ ]:
stats[stats.keyword.str.contains('охотник')].head()

[Документация](https://www.geeksforgeeks.org/python-pandas-series-str-contains/)

Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

Parameter :
- pat : Character sequence or regular expression.
- case : If True, case sensitive.
- flags : Flags to pass through to the re module, e.g. re.IGNORECASE.
- na : Fill value for missing values.
- regex : If True, assumes the pat is a regular expression.

In [ ]:
# поиск одного из нескольких слов

stats[stats.keyword.str.contains('охотник|фильм|2016')].head()

### Упражнение
Отфильтруйте датафрейм stats по поисковым запросам, которые содержат строку "погода в" и упоминают один из городов: Москва, Новосибирск, Краснодар.

### replace

In [ ]:
'отпуск начнется завтра'.replace('завтра', 'через месяц')

Аналог в pandas на запросах про сериалы:

In [ ]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.head()

In [ ]:
serial.keyword.str.replace('сериалы', 'книги').head()

### Как учитывать разное написание слов
Самое простое - методы upper и lower

In [ ]:
serial.keyword.str.upper().head()

In [ ]:
serial.keyword.str.lower().head()

### Что делать если нужно учесть формы написания слов?

In [ ]:
stats[stats.keyword.str.contains('рубл')].head()

Почему нельзя просто оставить str.contains('рубл'):

In [1]:
non_financial_search = 'рубленая котлетка'

### Библиотека [pymystem](https://pypi.org/project/pymystem3/)

In [7]:
# !pip install pymystem3

# !pip install git+https://github.com/nlpub/pymystem3
import json
from pymystem3 import Mystem

In [8]:
text = "Красивая мама красиво мыла раму"
m = Mystem()
lemmas = m.lemmatize(text)
print(''.join(lemmas))

красивый мама красиво мыть рама

In [6]:
search = 'курс гривны к рублю рубли рублях'

lemmas = m.lemmatize(search)
' '.join(lemmas)

'курс   гривна   к   рубль   рубль   рубль \n'

In [14]:
import json
import pprint
from pymystem3 import Mystem

In [35]:
text = "Красивая мама красиво мыла раму"
m = Mystem()
lemmas = m.lemmatize(text)

print ("lemmas:", ''.join(lemmas)  )

print( "full info:", json.dumps(m.analyze(text ), ensure_ascii=False,indent=4)  )

lemmas: красивый мама красиво мыть рама

full info: [
    {
        "analysis": [
            {
                "lex": "красивый",
                "wt": 1,
                "gr": "A=им,ед,полн,жен"
            }
        ],
        "text": "Красивая"
    },
    {
        "text": " "
    },
    {
        "analysis": [
            {
                "lex": "мама",
                "wt": 1,
                "gr": "S,жен,од=им,ед"
            }
        ],
        "text": "мама"
    },
    {
        "text": " "
    },
    {
        "analysis": [
            {
                "lex": "красиво",
                "wt": 0.8149252476,
                "gr": "ADV="
            }
        ],
        "text": "красиво"
    },
    {
        "text": " "
    },
    {
        "analysis": [
            {
                "lex": "мыть",
                "wt": 0.441520999,
                "gr": "V,несов,пе=прош,ед,изъяв,жен"
            }
        ],
        "text": "мыла"
    },
    {
        "text": " "
    },
    {
        "analysis": [
            {
                "lex": "рама",
                "wt": 0.9993591156,
                "gr": "S,жен,неод=вин,ед"
            }
        ],
        "text": "раму"
    },
    {
        "text": "\n"
    }
]