# Основы pandas

In [5]:
import pandas as pd
import numpy as np

Пример забора данных с сайтов

pip install numexpr

In [6]:
!pip install numexpr  #NumExpr is a fast numerical expression evaluator for NumPy.

Requirement already satisfied: numexpr in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (2.8.4)
Requirement already satisfied: numpy>=1.13.3 in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (from numexpr) (1.23.5)

In [7]:
import bottleneck as bn  #Bottleneck is a collection of fast NumPy array functions written in C.

In [8]:
pd.read_sql('select * from db.table;', connection)

NameError: name 'connection' is not defined

In [9]:
!pip install pandasql
from pandasql import sqldf

output = sqldf("select * from df")

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (from pandasql) (1.4.4)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.46.tar.gz (8.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.5/8.5 MB 1.5 MB/s eta 0:00:0000:0100:010m
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (from pandas->pandasql) (2022.7)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp310-cp310-macosx_10_15_x86_64.whl (203 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 203.7/203.7 kB 1.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Users/velo1/opt/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql, sqlalchemy
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26768 sha256=2c316959bbdd539b21660ee05c02c3a270f9e4a3b34a0df2f8d41bfb2bbf2dc2
  Stored in directory: /Users/velo1/Library/Caches/pip/wheels/4c/a4/ce/ad31f7d9f6bfce32741955de12e76e3a6e7181c20321db3c66
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.46-cp310-cp310-macosx_10_9_x86_64.whl size=1559968 sha256=89ad856b47ca969177ef49c7da4874b85f904386218b72e8009e956f58a743ec
  Stored in directory: /Users/velo1/Library/Caches/pip/wheels/2f/63/e7/5e8ba3d4d6a5f4ecd42c07063066ff329262da068628c41c6f
Successfully built pandasql sqlalchemy
Installing collected packages: greenlet, sqlalchemy, pandasql
Successfully installed greenlet-2.0.1 pandasql-0.7.3 sqlalchemy-1.4.46

PandaSQLException: (sqlite3.OperationalError) no such table: df
[SQL: select * from df]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
pd.read_html('http://www.cbr.ru')[0]

In [ ]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [ ]:
df[:5]

Импорт данных из файла

In [ ]:
data = pd.read_csv('power.csv')
data.head()

In [ ]:
data.head(30)

In [ ]:
data.tail(10)

In [ ]:
# количество строк в датафрейме

len(data)

In [ ]:
# или так

data.shape

Простые вычисления для нового столбца

In [ ]:
data['year_plus_one'] = data['year'] + 1
data.head()

### Основные сведения о датафрейме

In [ ]:
data.info()

In [ ]:
# немного статистики

data.describe()

In [ ]:
index = pd.date_range("1/1/2000", periods=8)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [ ]:
s

a    1.189782
b   -2.065868
c   -2.310885
d    2.127318
e    0.094350
dtype: float64

In [ ]:
s[-1], s[['c','e']]

(0.09435002324606023,
 c   -2.310885
 e    0.094350
 dtype: float64)

In [ ]:
s.index.array, s.array

NameError: name 's' is not defined

In [ ]:
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])
df

                   A         B         C
2000-01-01  0.800166  0.222508 -1.500158
2000-01-02 -1.654314 -0.009526 -1.692318
2000-01-03  1.420410  0.022964  0.022552
2000-01-04 -0.957348  0.037605 -0.550325
2000-01-05  0.065964 -0.326714  0.470221
2000-01-06  0.179847 -0.246271 -0.006126
2000-01-07 -0.416718 -0.942616  0.326832
2000-01-08 -2.465721  0.361974 -0.167051

### Отдельный столбец (тип Series)

In [ ]:
data['year plus one'].head()

In [ ]:
# или так

data.year.head()

In [ ]:
type(data['year'])

In [ ]:
data.head()

In [ ]:
# уникальные значения в столбце

data['category'].unique()

In [ ]:
set([1, 1, 1, 2])

In [ ]:
len(data['category'].unique())

In [ ]:
data['category'].nunique()

In [ ]:
data['category'].head()

In [ ]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

In [ ]:
data['category'].value_counts(normalize=True).head()

# Фильтры

In [10]:
!ls

ABD-22 LABa -Kuzmin Pandas.ipynb
ABD-22 LABa.ipynb
ABD-22 Total HW.ipynb
Constraint Programming.ipynb
DLS  simpsons_baseline.ipynb
DLS Python Base.ipynb
NETOLOGY PySpark Лекция 7.ipynb
Netlogy ERRORS_DATES .ipynb
Netlogy ERRORS_DATES HW.ipynb
Netology Numpy _HW.ipynb
Netology Pandas HW funcs group.ipynb
Netology Pandas HW_SQL.ipynb
Netology Pandas_JOIN.ipynb
Netology Pandas_JOIN_HW.ipynb
Netology Pandas_JOIN_SQL_HW .ipynb
Netology Pandas_PIVOT_and_PYMYSTEM.ipynb
Netology Pandas_basics.ipynb
Netology Pandas_functions_groupby.ipynb
Netology Pandas_pivot_and_str.ipynb
Netology Pandas_presentation_mode.ipynb
Netology Pandas_vs_set_and_dict.ipynb
Netology Python  FUNCTIONS DICTS_sorting args  kwargs.ipynb
Netology Python  LAB.ipynb
Netology Python  netology Functions HW4 .ipynb
Netology Python CLASSES.ipynb
Netology Python Datatypes LOOPs.ipynb
Netology Python HW1 Основы.ipynb
Netology Python HW2.ipynb
Netology Python Scrapping Parsing HW.ipynb
Netology Python _Bases2.ipynb
Netology Python intro.ipynb
Netology Python list dict.ipynb
Netology Python_7_ERRORS_DATETIME.ipynb
Netology RegEx .ipynb
Netology python DICT Recursion HW3.ipynb
Netology python HW classes 20221017.ipynb
Netology python open files.ipynb
Netology stats_Confidence_Intervals.ipynb
Netology stats_Confidential_intervals HW.ipynb
Netology stats_t-Tests.ipynb
Netology_Python_FILES Read-Write_and_pip JSON.ipynb
Netology_REGEX_practice.ipynb
Netology_SCRAPING PARSING.ipynb
PYTHON MathPlotLib VIZ.ipynb
Pandas. Change value on condition.ipynb
Pandas_MULTIindex.ipynb
Python DateTimeTimeZone.ipynb
Python Decorator.ipynb
Python PARSING.ipynb
Python SEARCH.ipynb
Python SQL.ipynb
Python_9_Numpy Matrix.ipynb
Python_Tricks.ipynb
bash.ipynb
desktop.ini
lecture_04_andas.ipynb
pyda-lab-0620.ipynb

In [11]:
data = pd.read_csv('/Users/velo1/SynologyDrive/GIT_syno/data/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [12]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

In [13]:
data['country']

0           Austria
1           Austria
2           Belgium
3           Belgium
4           Belgium
             ...
1189477    Viet Nam
1189478    Viet Nam
1189479    Viet Nam
1189480    Viet Nam
1189481    Viet Nam
Name: country, Length: 1189482, dtype: object

In [14]:
# или так

data[['country', 'quantity']].head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

### Отфильтруем строки с потреблением выше среднего

In [15]:
average_level = data['quantity'].mean()
average_level

184264.77005012965

In [16]:
# 'quantity > {}'.format(average_level)

'quantity > 184264.77005012965'

In [17]:
f'quantity > {average_level}'

'quantity > 184264.77005012965'

In [18]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query(f'quantity > {average_level}').head()

            country  quantity
3228  United States  367987.0
3229  United States  384439.0
3230  United States  370625.0
3231  United States  310909.0
3232  United States  335418.0

In [22]:
# самый популярный способ

data[ data.quantity > average_level ].head()

            country  year  quantity  category
3228  United States  2014  367987.0         2
3229  United States  2013  384439.0         2
3230  United States  2012  370625.0         2
3231  United States  2011  310909.0         2
3232  United States  2010  335418.0         2

In [24]:
data.quantity > average_level and data.quantity != 0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Как определить используемый вариант названия страны?

In [ ]:
data['country'].unique()

In [ ]:
if 'rus' in 'Russia Federation':

In [ ]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

In [27]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data.country =='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

                 country  year  quantity  category
6940  Russian Federation  2014   12714.0         3
6941  Russian Federation  2013   11285.0         3
6942  Russian Federation  2012   11302.0         3
6943  Russian Federation  2011    7611.0         3
6944  Russian Federation  2010    9263.0         3

In [ ]:
filtered_countries['country'].unique()

In [ ]:
# фильтры на номер строки

data.loc[1000:1005]

# Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values(by='quantity').head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

### Параметр inplace

In [ ]:
data.head()

In [ ]:
data = data.sort_values(['country', 'year'], ascending=[False, True])

In [ ]:
def calculation(data, inplace=True):
    data.sort_values(['country', 'year'], ascending=[False, True], inplace=inplace)

In [ ]:
data.sort_values(['country', 'year'], ascending=[False, True], inplace=True)

In [ ]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)