In [ ]:
import pandas as pd    # загрузка библиотеки pandas
'''from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
'''
from numpy import isnan   # загрузка функции из numpy

In [ ]:
# загружаем бд  city
df_city=pd.read_sql(
"""
SELECT
  *
FROM
  city
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)
df_city.head(7)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

   id            name country_code       district  population
0   1           Kabul          AFG          Kabol     1780000
1   2        Qandahar          AFG       Qandahar      237500
2   3           Herat          AFG          Herat      186800
3   4  Mazar-e-Sharif          AFG          Balkh      127800
4   5       Amsterdam          NLD  Noord-Holland      731200
5   6       Rotterdam          NLD   Zuid-Holland      593321
6   7            Haag          NLD   Zuid-Holland      440900

In [ ]:
# загружаем  CSV
df_holidays = pd.read_csv('Holidays (Responses) - Form responses 1.csv', sep=",")
# смотрим первые 5 строк таблицы
display(df_holidays.head())
# смотрим последние 5 строк таблицы
display(df_holidays.tail())

,Timestamp,Страна пребывания,Город размещения,Дата выезда,Дата возращения,Планируемый бюджет поездки (руб.),Дней,City,Стоимость билетов,Стоимость отеля,Расходы на месте,Всего расходов,Отклонение,Оценка,Стоимость 1 дня отпуска
0,5/26/2022 8:19:04,Италия,Милан,1/6/2018,1/20/2018,175000,14,Milano,35000,115000,30000,180000,5000,5,12857
1,5/26/2022 8:20:52,Турция,Анталья,10/27/2018,11/3/2018,130000,7,Antalya,30000,80000,25000,135000,5000,5,19286
2,5/26/2022 8:36:04,Франция,Гренобль,1/5/2019,1/12/2019,90000,7,Grenoble,30000,40000,40000,110000,20000,4,15714
3,5/26/2022 8:38:04,Австрия,Вена,9/14/2019,9/21/2019,100000,7,Wien,35000,60000,30000,125000,25000,5,17857
4,5/26/2022 8:39:15,Австрия,Серфаус,1/11/2020,1/18/2020,140000,7,Innsbruck,40000,100000,50000,190000,50000,5,27143

,Timestamp,Страна пребывания,Город размещения,Дата выезда,Дата возращения,Планируемый бюджет поездки (руб.),Дней,City,Стоимость билетов,Стоимость отеля,Расходы на месте,Всего расходов,Отклонение,Оценка,Стоимость 1 дня отпуска
6,5/26/2022 8:41:11,Турция,Анталья,5/29/2021,6/12/2021,160000,14,Antalya,30000,130000,15000,175000,15000,4,12500
7,5/26/2022 8:42:09,Грузия,Бакуриани,3/6/2021,3/13/2021,100000,7,Tbilisi,20000,30000,50000,100000,0,4,14286
8,5/26/2022 8:43:38,Кипр,Никосия,10/30/2021,11/6/2021,130000,7,Nicosia,30000,55000,35000,120000,-10000,5,17143
9,5/26/2022 8:47:18,РФ,Сочи,2/5/2022,2/12/2022,110000,7,Maikop,20000,60000,55000,135000,25000,4,19286
10,5/26/2022 8:49:21,Армения,Ереван,2/24/2022,3/26/2022,90000,30,Yerevan,25000,55000,60000,140000,50000,3,4667

In [ ]:
# объединяем бд по наименованию города
df_merged = pd.merge(df_holidays, df_city,how="left", left_on="City", right_on="name")
df_merged

,Timestamp,Страна пребывания,Город размещения,Дата выезда,Дата возращения,Планируемый бюджет поездки (руб.),Дней,City,Стоимость билетов,Стоимость отеля,Расходы на месте,Всего расходов,Отклонение,Оценка,Стоимость 1 дня отпуска,id,name,country_code,district,population
0,5/26/2022 8:19:04,Италия,Милан,1/6/2018,1/20/2018,175000,14,Milano,35000,115000,30000,180000,5000,5,12857,1465,Milano,ITA,Lombardia,1300977
1,5/26/2022 8:20:52,Турция,Анталья,10/27/2018,11/3/2018,130000,7,Antalya,30000,80000,25000,135000,5000,5,19286,3365,Antalya,TUR,Antalya,564914
2,5/26/2022 8:36:04,Франция,Гренобль,1/5/2019,1/12/2019,90000,7,Grenoble,30000,40000,40000,110000,20000,4,15714,2989,Grenoble,FRA,Rhône-Alpes,153317
3,5/26/2022 8:38:04,Австрия,Вена,9/14/2019,9/21/2019,100000,7,Wien,35000,60000,30000,125000,25000,5,17857,1523,Wien,AUT,Wien,1608144
4,5/26/2022 8:39:15,Австрия,Серфаус,1/11/2020,1/18/2020,140000,7,Innsbruck,40000,100000,50000,190000,50000,5,27143,1527,Innsbruck,AUT,Tiroli,111752
5,5/26/2022 8:40:04,РФ,Санкт-Петербург,8/3/2020,8/7/2020,70000,4,St Petersburg,5000,20000,30000,55000,-15000,4,13750,3581,St Petersburg,RUS,Pietari,4694000
6,5/26/2022 8:41:11,Турция,Анталья,5/29/2021,6/12/2021,160000,14,Antalya,30000,130000,15000,175000,15000,4,12500,3365,Antalya,TUR,Antalya,564914
7,5/26/2022 8:42:09,Грузия,Бакуриани,3/6/2021,3/13/2021,100000,7,Tbilisi,20000,30000,50000,100000,0,4,14286,905,Tbilisi,GEO,Tbilisi,1235200
8,5/26/2022 8:43:38,Кипр,Никосия,10/30/2021,11/6/2021,130000,7,Nicosia,30000,55000,35000,120000,-10000,5,17143,2430,Nicosia,CYP,Nicosia,195000
9,5/26/2022 8:47:18,РФ,Сочи,2/5/2022,2/12/2022,110000,7,Maikop,20000,60000,55000,135000,25000,4,19286,3684,Maikop,RUS,Adygea,167300
10,5/26/2022 8:49:21,Армения,Ереван,2/24/2022,3/26/2022,90000,30,Yerevan,25000,55000,60000,140000,50000,3,4667,126,Yerevan,ARM,Yerevan,1248700

In [ ]:
#  тренировочный фрагмент. использовал для поиска по базе подходящих городов
df_query=pd.read_sql(
"""
SELECT 
  * 
FROM  
  city c
INNER JOIN
  country co
ON 
  co.code = c.country_code
WHERE
  c.country_code like 'GE_'
""",
'postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db'
)
df_query

,id,name,country_code,district,population,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,905,Tbilisi,GEO,Tbilisi,1235200,GEO,Georgia,Asia,Middle East,69700.0,1991,4968000,64.5,6064.0,5924.0,Sakartvelo,Republic,Eduard evardnadze,905,GE
1,906,Kutaisi,GEO,Imereti,240900,GEO,Georgia,Asia,Middle East,69700.0,1991,4968000,64.5,6064.0,5924.0,Sakartvelo,Republic,Eduard evardnadze,905,GE
2,907,Rustavi,GEO,Kvemo Kartli,155400,GEO,Georgia,Asia,Middle East,69700.0,1991,4968000,64.5,6064.0,5924.0,Sakartvelo,Republic,Eduard evardnadze,905,GE
3,908,Batumi,GEO,Adzaria [Atara],137700,GEO,Georgia,Asia,Middle East,69700.0,1991,4968000,64.5,6064.0,5924.0,Sakartvelo,Republic,Eduard evardnadze,905,GE
4,909,Sohumi,GEO,Abhasia [Aphazeti],111700,GEO,Georgia,Asia,Middle East,69700.0,1991,4968000,64.5,6064.0,5924.0,Sakartvelo,Republic,Eduard evardnadze,905,GE

In [ ]:
#  проверка на отсутствие данных по населению городов. В city нет города с таким названием....
#  простой вариант - вручную исправить в CSV.  ВРУЧНУЮ поправил справочник в Google Sheets

df_merged[(isnan(df_merged['population']))]

Empty DataFrame
Columns: [Timestamp, Страна пребывания, Город размещения, Дата выезда, Дата возращения, Планируемый бюджет поездки (руб.), Дней, City, Стоимость билетов, Стоимость отеля, Расходы на месте, Всего расходов, Отклонение, Оценка, Стоимость 1 дня отпуска, id, name, country_code, district, population]
Index: []

Выводится пустая бд. Все данные заполнены. В противном случае будут NaN из df_city

In [ ]:
# прикидка на глаз, всё ли в порядке
df_merged.tail()

,Timestamp,Страна пребывания,Город размещения,Дата выезда,Дата возращения,Планируемый бюджет поездки (руб.),Дней,City,Стоимость билетов,Стоимость отеля,Расходы на месте,Всего расходов,Отклонение,Оценка,Стоимость 1 дня отпуска,id,name,country_code,district,population
6,5/26/2022 8:41:11,Турция,Анталья,5/29/2021,6/12/2021,160000,14,Antalya,30000,130000,15000,175000,15000,4,12500,3365,Antalya,TUR,Antalya,564914
7,5/26/2022 8:42:09,Грузия,Бакуриани,3/6/2021,3/13/2021,100000,7,Tbilisi,20000,30000,50000,100000,0,4,14286,905,Tbilisi,GEO,Tbilisi,1235200
8,5/26/2022 8:43:38,Кипр,Никосия,10/30/2021,11/6/2021,130000,7,Nicosia,30000,55000,35000,120000,-10000,5,17143,2430,Nicosia,CYP,Nicosia,195000
9,5/26/2022 8:47:18,РФ,Сочи,2/5/2022,2/12/2022,110000,7,Maikop,20000,60000,55000,135000,25000,4,19286,3684,Maikop,RUS,Adygea,167300
10,5/26/2022 8:49:21,Армения,Ереван,2/24/2022,3/26/2022,90000,30,Yerevan,25000,55000,60000,140000,50000,3,4667,126,Yerevan,ARM,Yerevan,1248700

In [ ]:
#  рассчитать  среднюю численность населения в посещенных городах в разбивке по странам
df_merged\
  .groupby(['country_code'])['population']\
  .agg(['mean', 'count'])\
  .sort_values(by='mean',ascending=False)\
  #.head(15)

                   mean  count
country_code
RUS           2430650.0      2
ITA           1300977.0      1
ARM           1248700.0      1
GEO           1235200.0      1
AUT            859948.0      2
TUR            564914.0      2
CYP            195000.0      1
FRA            153317.0      1