### HW Pandas

Сорочан Игорь 

Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

* если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
* для источников paid и email из России ставим ad;
* для источников paid и email не из России ставим other;
* все остальные варианты берём из traffic_source без изменений.

In [1]:
import pandas as pd

In [2]:
# # !pip install requests
import requests

url = 'https://files.grouplens.org/datasets/movielens/ml-25m.zip'
# качаем весь архив (25 млн)
 
content = requests.get(url)

# unzip the content
from io import BytesIO
from zipfile import ZipFile

In [3]:
f = ZipFile(BytesIO(content.content))  # zipfile.ZipFile

открываем ratings

In [4]:
import os, fnmatch

def find(pattern, path): # match a pattern
    result = []
    for root, dirs, files in os.walk(path):
        for name in files:
            if fnmatch.fnmatch(name, pattern):
                print(f'{root}\{name}')                
                result.append(os.path.join(root, name))
    return result 

path = r'\\che-ds\CS_IgSor\GIT_syno'   
res = find('*.csv', path )

\\che-ds\CS_IgSor\GIT_syno\data\adult.csv
\\che-ds\CS_IgSor\GIT_syno\data\keywords.csv
\\che-ds\CS_IgSor\GIT_syno\data\power.csv
\\che-ds\CS_IgSor\GIT_syno\data\sales_db.csv
\\che-ds\CS_IgSor\GIT_syno\data\tags.csv
\\che-ds\CS_IgSor\GIT_syno\data\transactions.csv
\\che-ds\CS_IgSor\GIT_syno\data\visit_log.csv
\\che-ds\CS_IgSor\GIT_syno\data\visit_log2.csv
\\che-ds\CS_IgSor\GIT_syno\data\journey-springfield\sample_submission.csv
\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\links.csv
\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\movies.csv
\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\ratings.csv
\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\tags.csv
\\che-ds\CS_IgSor\GIT_syno\Welltory\data_for_test.csv

In [13]:
visit = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\visit_log2.csv', sep = ";")
visit.tail()

,timestamp,visit_id,url,region,user_id,traffic_source
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email

In [14]:
visit.traffic_source.value_counts()

direct    7013
email     3875
yandex    2900
paid      2643
google    2507
Name: traffic_source, dtype: int64

In [15]:
def type_of_source(df):
    """ source_type по правилам:

    * если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
    * для источников paid и email из России ставим ad;
    * для источников paid и email не из России ставим other;
    * все остальные варианты берём из traffic_source без изменений."""

    if df['traffic_source'] in ('Yandex','Google'):
        return 'organic'
    elif df['traffic_source'] in ('email','paid') and 'Russia' in df['region']:
        return 'ad'

In [16]:
visit['source_type'] = visit.apply(lambda x: type_of_source )
visit

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,NaN
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,NaN
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,NaN
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,NaN
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,NaN
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,NaN
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,NaN
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,NaN
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,NaN

открываем movies

In [17]:
with f.open('ml-25m/movies.csv', 'r') as unzipped_file:    #  zipfile.ZipExtFile 
   movies = pd.read_csv(unzipped_file)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Join on='movieId'

In [18]:
ratings = ratings.loc[ (5 == ratings.rating)   ]

NameError: name 'ratings' is not defined

In [ ]:
joined = ratings.merge(movies, on='movieId', how='left')
joined

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
2,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
3,1,1237,5.0,1147868839,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama
4,1,2632,5.0,1147878248,"Saragossa Manuscript, The (Rekopis znaleziony ...",Adventure|Drama|Mystery
...,...,...,...,...,...,...
3612469,162541,5952,5.0,1240952617,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
3612470,162541,6104,5.0,1240953565,Monty Python Live at the Hollywood Bowl (1982),Comedy
3612471,162541,7153,5.0,1240952613,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
3612472,162541,7193,5.0,1240950032,"Adventures of Ford Fairlane, The (1990)",Action|Comedy
3612473,162541,63876,5.0,1240952515,Milk (2008),Drama

группируем по названию, считаем кол-во и сортируем (без разницы по какому столбцу, тк count везде одинаковый )

In [ ]:
joined.groupby('title').count().sort_values('rating', ascending=False).head(1)
# joined.head()

                                  userId  movieId  rating  timestamp  genres
title
Shawshank Redemption, The (1994)   39553    39553   39553      39553   39553

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)

категорий 4, 12 и 21 за период с 2005 по 2010 года. 

Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
url = r"\\che-ds\CS_IgSor\GIT_syno\data\power.csv"
# content = requests.get(url)
# content
power = pd.read_csv(url)
power.sample(3)

           country  year  quantity  category
544571    Portugal  2011       4.0        32
852825  Bangladesh  2008     240.0        43
463047      Belize  1991      41.0        27

In [ ]:
power[ power['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [ ]:
power[ power.country.str.contains('lit', case=False) ].country.unique()

array(['Lithuania'], dtype=object)

In [ ]:
power[ power.country.str.contains('tv', case=False) ].country.unique()

array(['Latvia'], dtype=object)

In [ ]:
# f_df = power.loc[ (power.country == 'Latvia') | (power.country == 'Estonia') | (power.country == 'Lithuania') ]    # in ['Латвия', 'Литва', 'Эстония']

In [ ]:
f_df = power.loc[ power.country.isin(['Latvia', 'Estonia', 'Lithuania']) ]
f_df = f_df.loc[ f_df.category.isin([4, 12 , 21])  ] 
# f_df = f_df.loc[ (2004 < f_df.year) & (f_df.year < 2011 )  ] 
f_df = f_df.loc[ f_df['year'].between(2005, 2010)  ] 

f_df = f_df.loc[ (f_df.quantity > 0  )  ]

In [ ]:
f_df

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
11158   Lithuania  2006       1.0         4
11159   Lithuania  2005       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[347 rows x 4 columns]

In [ ]:
# f_df.head()

In [ ]:
f_df.groupby('country')['quantity'].sum().sort_values(ascending=False)

country
Lithuania    122296.0
Estonia       63440.0
Latvia        54844.0
Name: quantity, dtype: float64

In [ ]:
f_df.groupby('country').agg({"quantity": sum}).sort_values(by='quantity',ascending=False)

           quantity
country
Lithuania  122296.0
Estonia     63440.0
Latvia      54844.0

попробуем с ранжированием

In [ ]:
# f_df.groupby('country').agg({"quantity": sum}).cumcount()

(
    f_df.assign(
        rnk=f_df.groupby(["country"])["quantity"].rank(
            method="first", ascending=False
        )
    )
    .query("rnk <3")
    .sort_values(["quantity", "rnk"],ascending=False)
)

          country  year  quantity  category  rnk
248673  Lithuania  2009    4909.0        21  1.0
243152  Lithuania  2009    4689.0        21  2.0
247350    Estonia  2010    2751.0        21  1.0
241829    Estonia  2010    2729.0        21  2.0
248550     Latvia  2010    2580.0        21  1.0
243029     Latvia  2010    2557.0        21  2.0

средствами SQL

In [ ]:
!pip install -q pandasql
from pandasql import sqldf

In [ ]:
%%time
query = "SELECT country, SUM(quantity) \
    FROM power \
    WHERE country IN ('Latvia', 'Estonia', 'Lithuania') AND category IN (4, 12 , 21) \
    AND year BETWEEN 2005 AND 2010 AND quantity >0 \
    GROUP BY country \
    ORDER BY 2 DESC"
df_group = sqldf(query)
df_group.head(10)

CPU times: total: 12.2 s
Wall time: 17.5 s

     country  SUM(quantity)
0  Lithuania       122296.0
1    Estonia        63440.0
2     Latvia        54844.0

pandasql значительно медленнее нативных методов библиотеки pandas

In [ ]:
!pip install duckdb
import duckdb

Collecting duckdb
  Downloading duckdb-0.6.0-cp310-cp310-win_amd64.whl (9.0 MB)
     ---------------------------------------- 9.0/9.0 MB 1.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14 in d:\users\max\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from duckdb) (1.23.4)
Installing collected packages: duckdb
Successfully installed duckdb-0.6.0

In [ ]:
%%time
duckdb.query("SELECT country, SUM(quantity) \
    FROM power \
    WHERE country IN ('Latvia', 'Estonia', 'Lithuania') AND category IN (4, 12 , 21) \
    AND year BETWEEN 2005 AND 2010 AND quantity >0 \
    GROUP BY country \
    ORDER BY 2 DESC").df()

CPU times: total: 62.5 ms
Wall time: 29 ms

     country  sum(quantity)
0  Lithuania       122296.0
1    Estonia        63440.0
2     Latvia        54844.0

duckdb в 600 раз быстрее  pandasql!!!

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [27]:
# !pip3 install lxml
import lxml

In [28]:
some_df = pd.read_html('https://infotables.ru/drugie/1316-spisok-vus-tablitsa#spisok')
# pd.set_option('display.max_colwidth', -1)

ImportError: lxml not found, please install it

In [ ]:
for i, tt in enumerate(some_df):
    print(i, len(tt) )

0 362
1 50
2 2
3 1

в 0-й таблице 362 строки. посмотрим...

In [ ]:
filter = input(' Введите ключевое слово :')
some_df[0].loc[ some_df[0][1].str.contains(filter, case=False) ]

,0,1
10,030 403,"Боевое применение подразделений и частей полковой и дивизионной артиллерии. Могут занимать должности: командир огневого взвода, командир взвода управления, командир миномётного взвода"
11,030 403,Боевое применение подразделений и воинских частей полковой и дивизионной артиллерии
12,030 404,"Боевое применение подразделений, воинских частей противотанковой артиллерии"
18,043 203,Боевое применение стартовых подразделений многоканальных зенитно-ракетных систем средней дальности ПВО
25,097 001,Боевое применение подразделений артиллерийской оптической разведки
63,134,Командир орудия 2С3 (152-мм самоходная артиллерийская установка «Ака?ция»)
73,146 182,"Командир отделения артиллерийской разведки ПРП-3 (подвижный разведывательный пункт «Вал»), ПРП-4 (подвижный разведывательный пункт «Нард»)"
120,233 256,Механик бомбардировочного и артиллерийского вооружения и автоматов пассивных помех
140,304 030,"Боевое применение подразделений и частей полковой и дивизионной артиллерии. Могут занимать должности: командир огневого взвода, командир взвода управления, командир миномётного взвода"
143,310 000,Эксплуатация и ремонт радиотехнических и радиолокационных средств ракетных войск и артиллерии
183,431 000,Эксплуатация и ремонт радиотехнических и радиолокационных средств Ракетных войск и артиллерии
204,461 103,Эксплуатация и ремонт бомбардировочного и артиллерийского вооружения
280,671 567,Картограф — планшетист
287,735 428,Начальник склада по хранению артиллерийских боеприпасов
288,735 945,Специалист по хранению артиллерийских боеприпасов — техник
357,970 010,Боевое применение подразделений артиллерийской оптической разведки