### HW Pandas

Сорочан Игорь 

#### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

* если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
* для источников paid и email из России ставим ad;
* для источников paid и email не из России ставим other;
* все остальные варианты берём из traffic_source без изменений.

In [1]:
import pandas as pd
import re
from datetime import datetime
from datetime import timedelta

##### Lookup for *LOCAL* csv. files

In [2]:
import os, fnmatch

def find(pattern, path): # match a pattern
    result = []
    for root, dirs, files in os.walk(path):
        for name in files:
            if fnmatch.fnmatch(name, pattern):
                print(f'{root}\{name}')                
                result.append(os.path.join(root, name))
    return result 

path = r'\\che-ds\CS_IgSor\GIT_syno'   
res = find('*.txt', path )

In [3]:
logs = pd.read_csv(r'/Users/velo1/SynologyDrive/GIT_syno/data/visit_log2.csv', sep = ';')
logs.tail()

,timestamp,visit_id,url,region,user_id,traffic_source
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email

In [4]:
def types_of_source(row):
    """Returns source types"""

    if row['traffic_source'].lower() in ('yandex','google'):
        return 'organic'
    elif row['traffic_source'].lower() in ('paid','email'):
        if 'russia' in row['region'].lower():
            return 'ad'
        else:
            return 'other'
    else:
        return row['traffic_source']

In [5]:
# В первом задании можно также использовать вариант решения через метод loc (обычно работает быстрее
logs.loc[logs.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic'

In [6]:
logs['source_type'] = logs.apply(lambda row: types_of_source(row), axis= 1)
logs

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic,organic
...,...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,NaN,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,NaN,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,NaN,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,NaN,ad

In [7]:
logs['source_type'].value_counts()

source_type
direct     7013
organic    5407
ad         3790
other      2728
Name: count, dtype: int64

#### Задание 2

В файле URLs.txt содержатся URL страниц новостного сайта.  
Вам нужно отфильтровать его по адресам страниц с текстами новостей.  
Известно, что шаблон страницы новостей имеет внутри URL конструкцию:  
```/\d{8}-```

Выполните действия:
* Прочитайте содержимое файла с датафрейм.
* Отфильтруйте страницы с текстом новостей, используя метод str.contains и  
регулярное выражение в соответствие с заданным шаблоном.

In [9]:
urls = pd.read_csv(r'/Users/velo1/SynologyDrive/GIT_syno/data/URLs.txt')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

через __*str.contains*__

In [16]:
pd.set_option('max_colwidth', None)
urls[  urls['url'].str.contains(r'/\d{8}-')   ]

                                                                                                          url
3                     /politics/36188461-s-marta-zhizn-rossiyan-suschestvenno-izmenitsya-iz-za-novyh-zakonov/
4                                                /world/36007585-tramp-pridumal-kak-reshit-ukrainskiy-vopros/
5                   /science/36157853-nasa-sobiraet-ekstrennuyu-press-konferentsiyu-na-temu-vnezemnoy-zhizni/
6                                         /video/36001498-poyavilis-pervye-podrobnosti-gibeli-natali-melamed/
7                                         /world/36007585-tramp-pridumal-kak-reshit-ukrainskiy-vopros/?smi2=1
..                                                                                                        ...
88  /cis/35984145-kreml-prokommentiroval-soobscheniya-smi-o-vozmozhnom-razvale-eaes-iz-za-belorussii/?24smi=1
89                                                /video/36071019-olimpiyskie-obekty-rio-prevratilis-v-ruiny/
90                                          /science/36151301-nazvano-posledstvie-zloupotrebleniya-alkogolem/
91                                 /incidents/36027330-vospitatelnitsu-zatravili-za-erotichnoe-foto-s-vedrom/
92                                          /world/36103095-dominikanskih-zhurnalistov-ubili-v-pryamom-efire/

[84 rows x 1 columns]

Текст самой новости в новый столбец  
и сравнение скорости работы

1000 циклов скомпилированного шаблона

In [ ]:
pattern= re.compile(r'(?:.*/\d{8}-)(.*)|.*')

In [ ]:
%%timeit
urls['news']= urls['url'].apply(lambda x: pattern.sub(r'\g<1>', x) )

1000 циклов шаблона без компилирования

In [ ]:
%%timeit
# выделение текста самой новости новости
urls['news']= urls['url'].apply(lambda x: re.sub(r'(?:.*/\d{8}-)(.*)|.*',r'\g<1>', x) )

In [ ]:
urls

скомпилированное выражение примерно на 15% быстрее

### Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv.  
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.  
Под временем жизни понимается разница между максимальным и  
минимальным значениями столбца timestamp для данного значения userId.

открываем movies

In [ ]:
# !pip install requests
import requests

url = 'https://files.grouplens.org/datasets/movielens/ml-25m.zip'
# качаем весь архив (25 млн)
 
content = requests.get(url)

# unzip the content
from io import BytesIO
from zipfile import ZipFile

In [ ]:
f = ZipFile(BytesIO(content.content))  # zipfile.ZipFile
f.namelist()

In [ ]:
with f.open('ml-25m/ratings.csv', 'r') as unzipped_file:    #  zipfile.ZipExtFile 
   ratings = pd.read_csv(unzipped_file)
ratings.head()

In [ ]:
grouped= ratings.groupby(by='userId').agg({'timestamp':('min', 'max', 'count')})
grouped

In [ ]:
grouped= grouped[ grouped[('timestamp','count')] > 100 ]
grouped

In [ ]:
delta= (grouped[('timestamp','max')] - grouped[('timestamp','min')]).mean() 
mean_lifetime= timedelta(seconds=delta).days
print(f'Cреднее время жизни пользователей, которые выставили\nболее 100 оценок составляет: {mean_lifetime} дня.')

### Задание 4
Дана статистика услуг перевозок клиентов компании по типам  
(см. файл `Python_13_join.ipynb` в разделе «Материалы для лекции  
“Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).

Нужно сформировать две таблицы:
* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
* аналогичную таблицу по типам выручки с указанием адреса клиента. 
 
Обратите внимание, что в процессе объединения таблиц *данные не должны теряться*.

In [ ]:
df2_hot= False

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

In [ ]:
client= pd.Series(client_base['client_id'])

In [ ]:
df1= rzd.merge(auto, how='outer' ,on='client_id')\
       .merge(air, how='outer' ,on='client_id')\
       .merge(client, how='outer' ,on='client_id')\
       .fillna(0)
df1.set_index('client_id')

In [ ]:
df2= df1.merge(client_base )
df2.set_index('client_id', inplace= True)
df2

In [ ]:
pt= df2.pivot_table( df2, index= ['client_id', 'address'], aggfunc=['sum','count'], margins= True)
pt

In [ ]:
pt.columns

In [ ]:
pt.query('client_id == 111')

найти клиента, использующего все виды перевозок

In [ ]:
pt.query('client_id == 111')

In [ ]:
# pt[ pt[( 'sum', 'rzd_revenue') ] * pt[( 'sum', 'air_revenue') ] * pt[( 'sum', 'auto_revenue') ] > 0  ]
pt.query (" ('sum', 'rzd_revenue') * ('sum', 'air_revenue')  * ( 'sum', 'auto_revenue')  > 0  " )

In [ ]:
# внимание!  при повторном вызове считает уже вместе со строкой 'Total'
if not df2_hot:
    df2.loc['Total_sum ']= df2.sum(numeric_only=True)
    df2_hot= True
else:
    df2.loc['Total_sum ']= df2.iloc[0:-1].sum(numeric_only=True)
df2