### HW Pandas

Сорочан Игорь 

#### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

* если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
* для источников paid и email из России ставим ad;
* для источников paid и email не из России ставим other;
* все остальные варианты берём из traffic_source без изменений.

In [136]:
import pandas as pd
import re
from datetime import datetime
from datetime import timedelta

##### Lookup for *LOCAL* csv. files

In [137]:
import os, fnmatch

def find(pattern, path): # match a pattern
    result = []
    for root, dirs, files in os.walk(path):
        for name in files:
            if fnmatch.fnmatch(name, pattern):
                print(f'{root}\{name}')                
                result.append(os.path.join(root, name))
    return result 

path = r'\\che-ds\CS_IgSor\GIT_syno'   
res = find('*.txt', path )

\\che-ds\CS_IgSor\GIT_syno\file1.txt
\\che-ds\CS_IgSor\GIT_syno\file2.txt
\\che-ds\CS_IgSor\GIT_syno\file3_Netology.txt
\\che-ds\CS_IgSor\GIT_syno\data\movies_example.txt
\\che-ds\CS_IgSor\GIT_syno\data\purchase_log.txt
\\che-ds\CS_IgSor\GIT_syno\data\ratings_example.txt
\\che-ds\CS_IgSor\GIT_syno\data\URLs.txt
\\che-ds\CS_IgSor\GIT_syno\data\ml-latest-small\README.txt
\\che-ds\CS_IgSor\GIT_syno\Welltory\requirements.txt

In [138]:
logs = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\visit_log2.csv', sep = ';')
logs.tail()

,timestamp,visit_id,url,region,user_id,traffic_source
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email

In [139]:
def types_of_source(row):
    """Returns source types"""

    if row['traffic_source'].lower() in ('yandex','google'):
        return 'organic'
    elif row['traffic_source'].lower() in ('paid','email'):
        if 'russia' in row['region'].lower():
            return 'ad'
        else:
            return 'other'
    else:
        return row['traffic_source']

In [141]:
# В первом задании можно также использовать вариант решения через метод loc (обычно работает быстрее
logs.loc[logs.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic'

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,NaN
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,NaN
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,NaN
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,NaN

In [5]:
logs['source_type'] = logs.apply(lambda row: types_of_source(row), axis= 1)
logs

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

In [6]:
logs['source_type'].value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

#### Задание 2

В файле URLs.txt содержатся URL страниц новостного сайта.  
Вам нужно отфильтровать его по адресам страниц с текстами новостей.  
Известно, что шаблон страницы новостей имеет внутри URL конструкцию:  
```/\d{8}-```

Выполните действия:
* Прочитайте содержимое файла с датафрейм.
* Отфильтруйте страницы с текстом новостей, используя метод str.contains и  
регулярное выражение в соответствие с заданным шаблоном.

In [7]:
urls = pd.read_csv(r'\\che-ds\CS_IgSor\GIT_syno\data\URLs.txt')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

через __*str.contains*__

In [8]:
urls[  urls['url'].str.contains(r'/\d{8}-')   ]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

Текст самой новости в новый столбец  
и сравнение скорости работы

1000 циклов скомпилированного шаблона

In [9]:
pattern= re.compile(r'(?:.*/\d{8}-)(.*)|.*')

In [10]:
%%timeit
urls['news']= urls['url'].apply(lambda x: pattern.sub(r'\g<1>', x) )

961 µs ± 27.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

1000 циклов шаблона без компилирования

In [11]:
%%timeit
# выделение текста самой новости новости
urls['news']= urls['url'].apply(lambda x: re.sub(r'(?:.*/\d{8}-)(.*)|.*',r'\g<1>', x) )

1.04 ms ± 31.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [12]:
urls

,url,news
0,/world/,
1,/latest/,
2,/?updated=top,
3,/politics/36188461-s-marta-zhizn-rossiyan-susc...,s-marta-zhizn-rossiyan-suschestvenno-izmenitsy...
4,/world/36007585-tramp-pridumal-kak-reshit-ukra...,tramp-pridumal-kak-reshit-ukrainskiy-vopros/
...,...,...
88,/cis/35984145-kreml-prokommentiroval-soobschen...,kreml-prokommentiroval-soobscheniya-smi-o-vozm...
89,/video/36071019-olimpiyskie-obekty-rio-prevrat...,olimpiyskie-obekty-rio-prevratilis-v-ruiny/
90,/science/36151301-nazvano-posledstvie-zloupotr...,nazvano-posledstvie-zloupotrebleniya-alkogolem/
91,/incidents/36027330-vospitatelnitsu-zatravili-...,vospitatelnitsu-zatravili-za-erotichnoe-foto-s...
92,/world/36103095-dominikanskih-zhurnalistov-ubi...,dominikanskih-zhurnalistov-ubili-v-pryamom-efire/

скомпилированное выражение примерно на 15% быстрее

### Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv.  
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.  
Под временем жизни понимается разница между максимальным и  
минимальным значениями столбца timestamp для данного значения userId.

открываем movies

In [13]:
# !pip install requests
import requests

url = 'https://files.grouplens.org/datasets/movielens/ml-25m.zip'
# качаем весь архив (25 млн)
 
content = requests.get(url)

# unzip the content
from io import BytesIO
from zipfile import ZipFile

In [14]:
f = ZipFile(BytesIO(content.content))  # zipfile.ZipFile
f.namelist()

['ml-25m/',
 'ml-25m/tags.csv',
 'ml-25m/links.csv',
 'ml-25m/README.txt',
 'ml-25m/ratings.csv',
 'ml-25m/genome-tags.csv',
 'ml-25m/genome-scores.csv',
 'ml-25m/movies.csv']

In [15]:
with f.open('ml-25m/ratings.csv', 'r') as unzipped_file:    #  zipfile.ZipExtFile 
   ratings = pd.read_csv(unzipped_file)
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [16]:
grouped= ratings.groupby(by='userId').agg({'timestamp':('min', 'max', 'count')})
grouped

         timestamp
               min         max count
userId
1       1147868053  1147880055    70
2       1141415509  1141418008   184
3       1439472199  1566091883   656
4       1573937091  1574195101   242
5        830786155   858628421   101
...            ...         ...   ...
162537  1047170920  1047172006   101
162538  1438780751  1438785622   154
162539   995149720   995150788    47
162540  1248854959  1249029765    88
162541  1240946758  1240953800   182

[162541 rows x 3 columns]

In [17]:
grouped= grouped[ grouped[('timestamp','count')] > 100 ]
grouped

         timestamp
               min         max count
userId
2       1141415509  1141418008   184
3       1439472199  1566091883   656
4       1573937091  1574195101   242
5        830786155   858628421   101
8        890489203   891279691   155
...            ...         ...   ...
162533  1280832287  1329514893   367
162534  1526666232  1549870359   487
162537  1047170920  1047172006   101
162538  1438780751  1438785622   154
162541  1240946758  1240953800   182

[63102 rows x 3 columns]

In [18]:
delta= (grouped[('timestamp','max')] - grouped[('timestamp','min')]).mean() 
mean_lifetime= timedelta(seconds=delta).days
print(f'Cреднее время жизни пользователей, которые выставили\nболее 100 оценок составляет: {mean_lifetime} дня.')

Cреднее время жизни пользователей, которые выставили
более 100 оценок составляет: 494 дня.

### Задание 4
Дана статистика услуг перевозок клиентов компании по типам  
(см. файл `Python_13_join.ipynb` в разделе «Материалы для лекции  
“Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).

Нужно сформировать две таблицы:
* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
* аналогичную таблицу по типам выручки с указанием адреса клиента. 
 
Обратите внимание, что в процессе объединения таблиц *данные не должны теряться*.

In [54]:
df2_hot= False

In [55]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [56]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [57]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [58]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [59]:
client= pd.Series(client_base['client_id'])

In [60]:
df1= rzd.merge(auto, how='outer' ,on='client_id')\
       .merge(air, how='outer' ,on='client_id')\
       .merge(client, how='outer' ,on='client_id')\
       .fillna(0)
df1.set_index('client_id')

           rzd_revenue  auto_revenue  air_revenue
client_id
111             1093.0           0.0          0.0
112             2810.0           0.0          0.0
113            10283.0       57483.0          0.0
114             5774.0          83.0          0.0
115              981.0         912.0         81.0
116                0.0        4834.0          4.0
117                0.0          98.0         13.0
118                0.0           0.0        173.0

In [61]:
df2= df1.merge(client_base )
df2.set_index('client_id', inplace= True)
df2

           rzd_revenue  auto_revenue  air_revenue          address
client_id
111             1093.0           0.0          0.0  Комсомольская 4
112             2810.0           0.0          0.0   Энтузиастов 8а
113            10283.0       57483.0          0.0  Левобережная 1а
114             5774.0          83.0          0.0          Мира 14
115              981.0         912.0         81.0        ЗЖБИиДК 1
116                0.0        4834.0          4.0    Строителей 18
117                0.0          98.0         13.0  Панфиловская 33
118                0.0           0.0        173.0     Мастеркова 4

In [112]:
pt= df2.pivot_table( df2, index= ['client_id', 'address'], aggfunc=['sum','count'], margins= True)
pt

                                  sum                                count  \
                          air_revenue auto_revenue rzd_revenue air_revenue
client_id address
111       Комсомольская 4         0.0          0.0      1093.0           1
112       Энтузиастов 8а          0.0          0.0      2810.0           1
113       Левобережная 1а         0.0      57483.0     10283.0           1
114       Мира 14                 0.0         83.0      5774.0           1
115       ЗЖБИиДК 1              81.0        912.0       981.0           1
116       Строителей 18           4.0       4834.0         0.0           1
117       Панфиловская 33        13.0         98.0         0.0           1
118       Мастеркова 4          173.0          0.0         0.0           1
All                             271.0      63410.0     20941.0           8


                          auto_revenue rzd_revenue
client_id address
111       Комсомольская 4            1           1
112       Энтузиастов 8а             1           1
113       Левобережная 1а            1           1
114       Мира 14                    1           1
115       ЗЖБИиДК 1                  1           1
116       Строителей 18              1           1
117       Панфиловская 33            1           1
118       Мастеркова 4               1           1
All                                  8           8

In [128]:
pt.columns

MultiIndex([(  'sum',  'air_revenue'),
            (  'sum', 'auto_revenue'),
            (  'sum',  'rzd_revenue'),
            ('count',  'air_revenue'),
            ('count', 'auto_revenue'),
            ('count',  'rzd_revenue')],
           )

In [122]:
pt.query('client_id == 111')

                                  sum                                count  \
                          air_revenue auto_revenue rzd_revenue air_revenue
client_id address
111       Комсомольская 4         0.0          0.0      1093.0           1


                          auto_revenue rzd_revenue
client_id address
111       Комсомольская 4            1           1

найти клиента, использующего все виды перевозок

In [ ]:
pt.query('client_id == 111')

In [135]:
# pt[ pt[( 'sum', 'rzd_revenue') ] * pt[( 'sum', 'air_revenue') ] * pt[( 'sum', 'auto_revenue') ] > 0  ]
pt.query (" ('sum', 'rzd_revenue') * ('sum', 'air_revenue')  * ( 'sum', 'auto_revenue')  > 0  " )

TypeError: unsupported operand type(s) for *: '<class 'list'>' and '<class 'list'>'

In [68]:
# внимание!  при повторном вызове считает уже вместе со строкой 'Total'
if not df2_hot:
    df2.loc['Total_sum ']= df2.sum(numeric_only=True)
    df2_hot= True
else:
    df2.loc['Total_sum ']= df2.iloc[0:-1].sum(numeric_only=True)
df2

            rzd_revenue  auto_revenue  air_revenue          address
client_id
111              1093.0           0.0          0.0  Комсомольская 4
112              2810.0           0.0          0.0   Энтузиастов 8а
113             10283.0       57483.0          0.0  Левобережная 1а
114              5774.0          83.0          0.0          Мира 14
115               981.0         912.0         81.0        ЗЖБИиДК 1
116                 0.0        4834.0          4.0    Строителей 18
117                 0.0          98.0         13.0  Панфиловская 33
118                 0.0           0.0        173.0     Мастеркова 4
Total_sum       20941.0       63410.0        271.0              NaN