# Даты

In [2]:
import pandas as pd
from datetime import datetime as dt 
import time
import pytz

In [2]:
date_string = '09.05.2018  09:00'

## strptime( date_string, '%d.%m.%Y %H:%M' )

In [3]:
# https://docs.python.org/3/library/datetime.html

# переводим строку в объект datetime
date_datetime = dt.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

datetime.datetime(2018, 5, 9, 9, 0)

In [4]:
# теперь можем работать с датами
type(date_datetime)

datetime.datetime

In [5]:
# получить номер года и часа, месяца
date_datetime.year, date_datetime.hour, date_datetime.month

(2018, 9, 5)

In [6]:
# день недели (0-6)?
date_datetime.weekday()

2

In [7]:
# текущий месяц
dt.now().month

11

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

[Format codes that the 1989 C standard  table](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

![most used](https://michaeltoth.me/images/common_r_date_formats.png)

In [8]:
dt.strptime('May 25 2017 5:00AM',"%B %d %Y %I:%M%p")

datetime.datetime(2017, 5, 25, 5, 0)

### Прибавление интервала к датам

In [9]:
from datetime import timedelta

In [10]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [11]:
start_date_datetime = dt.strptime(start_date, '%Y-%m-%d')

In [12]:
start_date_datetime + timedelta(days=1)

datetime.datetime(2018, 1, 2, 0, 0)

In [13]:
new_date = start_date_datetime + timedelta(days=-7, minutes=-1)
new_date , dt.strftime(  new_date, "%Y-%m-%d %H:%M")

(datetime.datetime(2017, 12, 24, 23, 59), '2017-12-24 23:59')

An additional example of normalization:

In [14]:
# Components of another_year add up to exactly 365 days

year = timedelta(days=365)
another_year = timedelta(weeks=40, days=84, hours=23,
                         minutes=50, seconds=600)
year == another_year

True

In [15]:
year.total_seconds()

31536000.0

Examples of timedelta arithmetic:

In [16]:
year = timedelta(days=365)
ten_years = 10 * year

In [17]:
ten_years

datetime.timedelta(days=3650)

In [18]:
ten_years.days // 365

10

In [19]:
nine_years = ten_years - year
nine_years

datetime.timedelta(days=3285)

In [20]:
three_years = nine_years // 3
three_years, three_years.days // 365

(datetime.timedelta(days=1095), 3)

In [21]:
today = dt.today()
my_birthday = dt(dt.now().year, 2, 11)
if my_birthday < today:
    my_birthday = my_birthday.replace(year=today.year + 1) # replace year only
my_birthday

datetime.datetime(2023, 2, 11, 0, 0)

In [22]:
time_to_birthday = abs(my_birthday - today)
time_to_birthday.days

86

### Перевод обратно в строку

In [39]:
date = dt(2018, 9, 1,10,30)
date

datetime.datetime(2018, 9, 1, 10, 30)

In [40]:
date.strftime('%Y-%m-%d')

'2018-09-01'

In [41]:
date.strftime('%B %d %Y %I:%M%p')

'September 01 2018 10:30AM'

In [42]:
dt.now().strftime('%Y-%m-%d'), dt.now().strftime('%Y-%m-01')

('2022-11-16', '2022-11-01')

In [43]:
# как получить первый день месяца

date.strftime('%Y-%m-01')

'2018-09-01'

In [44]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [45]:
start_date_dt = dt.strptime(start_date, '%Y-%m-%d')
end_date_dt = dt.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)
print(start_date_dt - end_date_dt)

2018-01-01 00:00:00 2018-01-07 00:00:00
-6 days, 0:00:00

In [46]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d %H:%M:%S'))
    
    current_dt += timedelta(days=1, hours=1, minutes=5, seconds = -1)

2018-01-01 00:00:00
2018-01-02 01:04:59
2018-01-03 02:09:58
2018-01-04 03:14:57
2018-01-05 04:19:56
2018-01-06 05:24:55

In [47]:
# можно и с помощью list comprehension
[(start_date_dt + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(10)]

['2018-01-01',
 '2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-06',
 '2018-01-07',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10']

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [48]:
d = dt(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

1552251600.0

In [49]:
dt.fromtimestamp(1552251600)

datetime.datetime(2019, 3, 11, 0, 0)

На практике все сложнее https://habr.com/ru/post/452584/

# TimeZones

### NumPy doesn’t have a dtype to represent timezone-aware datetimes,
so there are two possibly useful representations:

>1.    An object-dtype numpy.ndarray with Timestamp objects, each with the correct tz

>1.    A datetime64[ns] -dtype numpy.ndarray, where the values have been converted to UTC and the timezone discarded

In [ ]:
ser = pd.Series(pd.date_range("2000", periods=3, tz="CET"))

ser.to_numpy(dtype=object)

array([Timestamp('2000-01-01 00:00:00+0100', tz='CET'),
       Timestamp('2000-01-02 00:00:00+0100', tz='CET'),
       Timestamp('2000-01-03 00:00:00+0100', tz='CET')], dtype=object)

Or thrown away with ```dtype='datetime64[ns]'```

In [7]:
ser.to_numpy(dtype="datetime64[ns]")

array(['1999-12-31T23:00:00.000000000', '2000-01-01T23:00:00.000000000',
       '2000-01-02T23:00:00.000000000'], dtype='datetime64[ns]')

### install pytz
```
import pytz
```

In [50]:
# !pip install pytz
import pytz

today = dt.today()  # naive object  as    tzinfo = None
today, today.tzinfo  is None

(datetime.datetime(2022, 11, 16, 15, 50, 29, 587770), True)

In [51]:
type(time.time())  #Return the current time in seconds since the Epoch. (POSIX timestamp)

float

In [52]:
dt.fromtimestamp(time.time()).tzinfo is None  # naive object  as    tzinfo = None

True

In [64]:
ltime = time.localtime() # Convert seconds since the Epoch to a time tuple expressing local time.
time.localtime()

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=16, tm_hour=15, tm_min=57, tm_sec=24, tm_wday=2, tm_yday=320, tm_isdst=0)

In [66]:
ltime.tm_year, ltime.tm_mon, ltime.tm_mday

(2022, 11, 16)

define tz

In [68]:
new_var = pytz.timezone('Europe/Moscow')
ts = dt.now(tz=new_var)  # определяем объект с tz
ts

datetime.datetime(2022, 11, 16, 15, 58, 33, 311506, tzinfo=<DstTzInfo 'Europe/Moscow' MSK+3:00:00 STD>)

In [69]:
print(ts.strftime("%z" ), type(ts.tzinfo))

+0300 <class 'pytz.tzfile.Europe/Moscow'>

In [ ]:
ts.utcoffset(),  pytz.UTC

(datetime.timedelta(seconds=10800), <UTC>)

#  Определение времени в UTC

In [70]:
today = dt.now()
today, today.tzinfo  # naive object

(datetime.datetime(2022, 11, 16, 15, 59, 7, 266774), None)

In [71]:
today.replace(tzinfo=pytz.UTC)   #  приравняли время к UTC
# теперь есть привязка UTC

datetime.datetime(2022, 11, 16, 15, 59, 7, 266774, tzinfo=<UTC>)

In [74]:
# get the standard UTC time
utc_time = dt.now(pytz.utc)

utc_time

datetime.datetime(2022, 11, 16, 13, 13, 10, 940652, tzinfo=<UTC>)

In [75]:
#  перебор всех временных зон, поиск наименования временной зоны
for timezone in pytz.all_timezones:
     if "Berlin" in timezone:
        print(timezone) 

print( "Всего tz: ", len(list(pytz.all_timezones)) )

Europe/Berlin
Всего tz:  595

In [76]:
tz_list = [ x for x in pytz.all_timezones if "Berlin" in x][0]
tz_list

'Europe/Berlin'

In [78]:
# create datetime object 
dateTimeObj = dt.now(pytz.utc) # в tz UTC
print("Original Date & Time: ",
      dateTimeObj.strftime('%Y:%m:%d %H:%M:%S %Z %z'))
  
# it will get the time zone
# of the specified location
for timeZone in pytz.all_timezones:
    # переводим в tz Москвы
    if 'Berlin' in timeZone:
        dateTimeObj = dt.now(pytz.timezone(timeZone))
        print(timeZone,":",dateTimeObj.strftime('%Y:%m:%d %H:%M:%S %Z %z'), dateTimeObj.strftime('%z'))
#  проверка на utc_shift == dateTimeObj.strftime('%z')

Original Date & Time:  2022:11:16 13:14:35 UTC +0000
Europe/Berlin : 2022:11:16 14:14:35 CET +0100 +0100

In [79]:
(dateTimeObj + timedelta(seconds=7200)).strftime('%Y-%m-%d %H:%M:%S %Z %z') # сдвиг локального времени

'2022-11-16 16:14:35 CET +0100'

### knowing naive datetime and utc_shift  convert data to UTC

In [136]:
# ДАНО:
utc_shift = 3600
date_string = "2022-01-09 12:00:00"
# перевести в локальное время + UTC

In [137]:
m, s = divmod(abs(utc_shift), 60)
h,m = divmod(m, 60)

shift_string = str(h).zfill(2)+str(m).zfill(2)
shift_string = " +" + shift_string if utc_shift >= 0 else " -" + shift_string

In [138]:
dateTimeObj = dt.strptime(date_string + shift_string, '%Y-%m-%d %H:%M:%S %z')
print(dateTimeObj.strftime( '%Y-%m-%d %H:%M:%S %z') )
dateTimeObj  # получили объект со смещением относительно UTC

2022-01-09 12:00:00 +0100

datetime.datetime(2022, 1, 9, 12, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))

In [139]:
dateTimeObj.strftime('%Y-%m-%d %H:%M:%S %z')
# AWARE dateobject

'2022-01-09 12:00:00 +0100'

In [140]:
# Найдем локальное время в UTC 
dateTimeObj.astimezone(pytz.utc).strftime('%Y-%m-%d %H:%M:%S %z %Z')

'2022-01-09 11:00:00 +0000 UTC'

In [141]:
# сместим локальное время на час в той же tz
(dateTimeObj + timedelta(seconds = 3600)).strftime('%Y-%m-%d %H:%M:%S %Z')

'2022-01-09 13:00:00 UTC+01:00'

In [142]:
# переведем время в другую timezone
# If called without arguments (or with tz=None) the system local timezone is assumed for the target timezone.

dateTimeObj.astimezone(pytz.timezone('Europe/Berlin')).strftime('%Y-%m-%d %H:%M:%S %Z %z')

'2022-01-09 12:00:00 CET +0100'

In [143]:
# сравним  
dateTimeObj.astimezone(pytz.timezone('Europe/Berlin')) == dateTimeObj.astimezone(pytz.utc) == dateTimeObj.astimezone(None)
# все три объекта одинаковы , но указаны в разных часовых поясах

True

In [144]:
dateTimeObj.astimezone(None)

datetime.datetime(2022, 1, 9, 14, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=10800), 'Russia TZ 2 Standard Time'))

##  еще задачки

In [149]:
# Create dates dataframe with frequency 
data = pd.date_range('1/1/2011', periods = 10, freq ='H')
 
data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [150]:
x = dt.now()
x.month, x.year

(11, 2022)

In [151]:
# Create date and time with dataframe
rng = pd.DataFrame()
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H')

# Print the dates in dd-mm-yy format
rng[:5]

# Create features for year, month, day, hour, and minute
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

# Print the dates divided into features
rng.head(3)

                 date  year  month  day  hour  minute
0 2011-01-01 00:00:00  2011      1    1     0       0
1 2011-01-01 01:00:00  2011      1    1     1       0
2 2011-01-01 02:00:00  2011      1    1     2       0

    Suppose you want to know how much time is left,
    in years/months/days/etc,   before the next easter happening 
    on a year with a Friday 13th in August, 
    and you want to get today’s date 
    out of the “date” unix system command. 
    Here is the code:

In [11]:
!pip install python-dateutil

Requirement already satisfied: python-dateutil in d:\users\max\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.8.2)
Requirement already satisfied: six>=1.5 in d:\users\max\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil) (1.16.0)

In [15]:
from dateutil.relativedelta import *
from dateutil.easter import *
from dateutil.rrule import *
from dateutil.parser import *
from datetime import *
now = parse("Aug 05 17:13:46 UTC 2022")
today = now.date()
year = rrule(YEARLY,dtstart=now,bymonth=8,bymonthday=13,byweekday=FR)[0].year
rdelta = relativedelta(easter(year), today)
print("Today is: %s" % today)

print("Year with next Aug 13th on a Friday is: %s" % year)

print("How far is the Easter of that year: %s" % rdelta)

print("And the Easter of that year is: %s" % (today+rdelta))

Today is: 2022-08-05
Year with next Aug 13th on a Friday is: 2027
How far is the Easter of that year: relativedelta(years=+4, months=+7, days=+23)
And the Easter of that year is: 2027-03-28