In [1]:
import pandas as pd

# !pip install duckdb
import duckdb

In [ ]:
# import os, fnmatch

# def find(pattern, path): # match a pattern
#     result = []
#     for root, dirs, files in os.walk(path):
#         for name in files:
#             if fnmatch.fnmatch(name, pattern):
#                 print(f'{name}\t{root}')                
#                 result.append(os.path.join(root, name))
#     return result 

# path = r'\\che-ds\CS_IgSor\GIT_syno'   
# res = find('*.csv', path )

In [4]:
url = r"\\che-ds\CS_IgSor\GIT_syno\data\power.csv"
# content = requests.get(url)
# content
power = pd.read_csv(url)
power.sample(3)

              country  year  quantity  category
386193  United States  1996   3186.00        27
142491        Vanuatu  2007      0.01        14
768424     Other Asia  1996    109.00        41

In [5]:
%%time
duckdb.query("SELECT country, SUM(quantity) \
    FROM power \
    WHERE country IN ('Latvia', 'Estonia', 'Lithuania') AND category IN (4, 12 , 21) \
    AND year BETWEEN 2005 AND 2010 AND quantity >0 \
    GROUP BY country \
    ORDER BY 2 DESC").df()

CPU times: total: 109 ms
Wall time: 19 ms

     country  sum(quantity)
0  Lithuania       122296.0
1    Estonia        63440.0
2     Latvia        54844.0