>Igor Sorochan DSU-31

In [2]:
soft_list = {'pandas': 'pd', 'numpy': 'np'}            
for  package in soft_list.keys():                      
    exec(f'import {package} as {soft_list[package]}')
    print(f'{package:<20} imported as {soft_list[package]}  version: {eval(soft_list[package]).__version__}')

pandas               imported as pd  version: 2.0.1
numpy                imported as np  version: 1.23.5

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Define the corpus
corpus = [
    "the quick brown fox jumps over the lazy dog",
    "the quick brown dog jumps over the lazy cat",
    "the quick brown cat jumps over the lazy mouse"
]

# Create a TfidfVectorizer object and fit it to the corpus
vectorizer = TfidfVectorizer()
vectorizer.fit(corpus)

# Define the tf-idf value you want to search for
target_tfidf_value = 0.3

# Get the feature names and corresponding tf-idf scores
feature_names = vectorizer.get_feature_names_out()
tfidf_scores = vectorizer.idf_    # idf_ is the inverse document frequency

# Find the index of the word with the closest tf-idf score to the target value
idx = min(range(len(tfidf_scores)), key=lambda i: abs(tfidf_scores[i]-target_tfidf_value))

# Get the word at that index
target_word = feature_names[idx]

# Print the target word
print(target_word)

brown

In [6]:
range(len(tfidf_scores))

range(0, 10)

In [4]:
for s in ('university.degree', 'high.school', 'illiterate'):
    print(s, '->', hash(s))

university.degree -> 1835370264374687961
high.school -> -7435984630818763484
illiterate -> -5257600257932904723

In [5]:
hash_space = 25 # 
for s in ('university.degree', 'high.school', 'illiterate'):
    print(s, '->', hash(s) % hash_space)

university.degree -> 11
high.school -> 16
illiterate -> 2

In [6]:
hashing_example = pd.DataFrame([{i: 0.0 for i in range(hash_space)}])
for s in ('job=student', 'marital=single', 'day_of_week=mon'):
    print(s, '->', hash(s) % hash_space)
    hashing_example.loc[0, hash(s) % hash_space] = 1
hashing_example

job=student -> 12
marital=single -> 15
day_of_week=mon -> 19

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [5]:
st= set()
st.add('abcd')
st.update(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"])
st.update('ghjkhk')
st

{'Friday',
 'Monday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'abcd',
 'g',
 'h',
 'j',
 'k'}

### Removing duplicates from list by hand.

In [30]:
	
bankStatement=["BK0001","BK0002","BK0003","BK0004","BK0004","BK0005","BK0001","BK0006","BK0007"] # 9 items in the list

for ind in range(len(bankStatement)-1, 0, -1):              #   iterate from the end of the list to the beginning
    print(f'{ind}. If {bankStatement[ind]} is in {bankStatement[:ind]}')    #   print the ind and the list up to that ind
    if bankStatement[ind] in bankStatement[:ind]:           #   if the ind is in the list up to that ind
        bankStatement.pop(ind)                              #   remove the ind from the list
print(bankStatement)

8. If BK0007 is in ['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0004', 'BK0005', 'BK0001', 'BK0006']
7. If BK0006 is in ['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0004', 'BK0005', 'BK0001']
6. If BK0001 is in ['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0004', 'BK0005']
5. If BK0005 is in ['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0004']
4. If BK0004 is in ['BK0001', 'BK0002', 'BK0003', 'BK0004']
3. If BK0004 is in ['BK0001', 'BK0002', 'BK0003']
2. If BK0003 is in ['BK0001', 'BK0002']
1. If BK0002 is in ['BK0001']
['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0005', 'BK0006', 'BK0007']

In [39]:
bankStatement=["BK0001","BK0002","BK0003","BK0004","BK0004","BK0005","BK0001","BK0006","BK0007"]
print(bankStatement)
bankStatement_wo_duplicates = list(dict.fromkeys(bankStatement)) # or list(set(bankStatement))
bankStatement_wo_duplicates

['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0004', 'BK0005', 'BK0001', 'BK0006', 'BK0007']

['BK0001', 'BK0002', 'BK0003', 'BK0004', 'BK0005', 'BK0006', 'BK0007']

In [3]:
c = 3 + 4j

In [7]:
x = 0.173
n,d = x.as_integer_ratio()
n/d

0.173

In [2]:
%tb # traceback
import argparse
import os
from collections import ChainMap

defaults = {"debug": False}

parser = argparse.ArgumentParser()
parser.add_argument("--debug")
args = parser.parse_args()
cli_args = {key: value for key, value in vars(args).items() if value}

config = ChainMap(cli_args, os.environ, defaults)

print(config.get("debug"))

usage: ipykernel_launcher.py [-h] [--debug DEBUG]
ipykernel_launcher.py: error: unrecognized arguments: --ip=127.0.0.1 --stdin=9013 --control=9006 --hb=9005 --Session.signature_scheme="hmac-sha256" --Session.key=b"81c5e04f-362b-4c27-a724-a63cb90c603f" --shell=9007 --transport="tcp" --iopub=9014 --f=/Users/velo1/Library/Jupyter/runtime/kernel-v2-785GFeCJ0N6Ogrp.json

SystemExit: 2